In [1]:
import pandas as pd
import numpy as np
import matplotlib 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import ipynb

### Reading Data from csv files (takes long time)

In [2]:
checkpoints_df = pd.read_csv("../datafest_csv_data/checkpoints_eoc.csv")
#checkpoints_pulse_df = pd.read_csv("../datafest_csv_data/checkpoints_pulse.csv")
#items_df = pd.read_csv("../datafest_csv_data/items.csv")
media_views_df = pd.read_csv("../datafest_csv_data/media_views.csv")
page_views_df = pd.read_csv("../datafest_csv_data/page_views.csv")

#codebook_df = pd.read_csv("../datafest_csv_data/codebook.csv")
#variable_list_df = pd.read_csv("../datafest_csv_data/variable_list.csv")
responses_df = pd.read_csv("../datafest_csv_data/responses.csv")

/tmp/ipykernel_10192/1972329068.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  page_views_df = pd.read_csv("../datafest_csv_data/page_views.csv")
/tmp/ipykernel_10192/1972329068.py:9: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  responses_df = pd.read_csv("../datafest_csv_data/responses.csv")

### Codebook Dataframe

In [4]:
codebook_df.head(100)

,variable,description,source
0,chapter,the chapter that the item appears in,items
1,class_id,a unique identifier for this particular class,items
2,dcl_hint,the text that appears in the hint box,items
3,dcl_pre_exercise_code,the code run invisibly to set up the module,items
4,dcl_sample_code,the code in the module when it first loads,items
...,...,...,...
74,chapter_number,the chapter (as a number).,checkpoints_EOC
75,EOC,proportion of correct answers for end of chapt...,checkpoints_EOC
76,n_possible,The number of end-of-chapter questions for the...,checkpoints_EOC
77,n_correct,The number of end-of-chapter questions that we...,checkpoints_EOC
78,n_attempt,The number of attempts to answer the end of ch...,checkpoints_EOC

### Variable List Dataframe

In [5]:
variable_list_df.head()
variable_list_df.tail()

,variables,source_responses,source_items,source_pageviews,source_media,source_checkpoints_pulse,source_checkpoints_eoc,description,notes
0,EOC,NaN,NaN,NaN,NaN,NaN,checkpoints_eoc,proportion of correct answers for end of chapt...,NaN
1,access_count,NaN,NaN,NaN,media_views,NaN,NaN,"students can ""access"" the video multiple times...",NaN
2,attempt,responses,NaN,NaN,NaN,NaN,NaN,the number of times the question has been atte...,NaN
3,book,responses,NaN,page_views,media_views,checkpoints_pulse,checkpoints_eoc,the book name,NaN
4,chapter,responses,items,page_views,media_views,NaN,NaN,the chapter that the item appears in,NaN

,variables,source_responses,source_items,source_pageviews,source_media,source_checkpoints_pulse,source_checkpoints_eoc,description,notes
63,student_id,responses,NaN,page_views,media_views,checkpoints_pulse,checkpoints_eoc,unique id identifying a student,NaN
64,tried_again_clicks,NaN,NaN,page_views,NaN,NaN,NaN,"Number of ""try again"" clicks (once students co...",NaN
65,tried_again_dt,NaN,NaN,page_views,NaN,NaN,NaN,A datetime object indicating the latest time w...,NaN
66,user_agent,responses,NaN,NaN,NaN,NaN,NaN,the browser user agent string for the user (se...,NaN
67,was_complete,NaN,NaN,page_views,NaN,NaN,NaN,"When the student accessed the page, were they ...",NaN

### Checkpoints EOC Dataframe

In [6]:
checkpoints_eoc_df.head()
#checkpoints_eoc_df.tail()
df = checkpoints_eoc_df.tail()

,student_id,class_id,chapter_number,book,EOC,n_possible,n_correct,n_attempt
0,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,1,College / Statistics and Data Science (ABC),0.921053,38,35,40
1,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,2,College / Statistics and Data Science (ABC),0.839080,87,73,127
2,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,3,College / Statistics and Data Science (ABC),0.769231,104,80,145
3,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,4,College / Statistics and Data Science (ABC),0.743590,118,87,217
4,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,5,College / Statistics and Data Science (ABC),0.777778,63,49,90

### Checkpoints Pulse Dataframe

In [7]:
checkpoints_pulse_df.head()
checkpoints_pulse_df.tail()

,book,release,institution_id,class_id,student_id,chapter_number,construct,response
0,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,10,Cost,NaN
1,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,11,Cost,NaN
2,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,12,Cost,NaN
3,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2,Cost,4.0
4,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,3,Cost,4.0

,book,release,institution_id,class_id,student_id,chapter_number,construct,response
76843,High School / Advanced Statistics and Data Sci...,v5.0,fc5f1b1b-2aeb-4e09-93fc-06fdac0d8030,95370fbf-5008-435f-b801-8214285f251b,eb698b03-c893-4700-90d1-e75faebf34a3,9,Utility Value,5.0
76844,High School / Advanced Statistics and Data Sci...,v5.0,fc5f1b1b-2aeb-4e09-93fc-06fdac0d8030,95370fbf-5008-435f-b801-8214285f251b,eb698b03-c893-4700-90d1-e75faebf34a3,13,Cost,NaN
76845,High School / Advanced Statistics and Data Sci...,v5.0,fc5f1b1b-2aeb-4e09-93fc-06fdac0d8030,95370fbf-5008-435f-b801-8214285f251b,eb698b03-c893-4700-90d1-e75faebf34a3,13,Utility Value,NaN
76846,High School / Advanced Statistics and Data Sci...,v5.0,fc5f1b1b-2aeb-4e09-93fc-06fdac0d8030,95370fbf-5008-435f-b801-8214285f251b,eb698b03-c893-4700-90d1-e75faebf34a3,13,Expectancy,NaN
76847,High School / Advanced Statistics and Data Sci...,v5.0,fc5f1b1b-2aeb-4e09-93fc-06fdac0d8030,95370fbf-5008-435f-b801-8214285f251b,eb698b03-c893-4700-90d1-e75faebf34a3,13,Intrinsic Value,NaN

### Items Dataframe

In [94]:
items_df.head()
items_df.tail()

,institution_id,class_id,item_id,item_type,chapter,page,dcl_pre_exercise_code,dcl_sample_code,dcl_solution,dcl_sct,dcl_hint,lrn_activity_reference,lrn_question_reference,lrn_question_position,lrn_type,lrn_template_name,chapter_number,section_number,review_flag
0,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,1800c247-fec5-45a0-aa40-3eb7ed5eeed7,5.0,mcq,Multiple choice – block layout,NaN,NaN,False
1,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,917f3647-c6dd-473c-9e16-2e0fc4d48344,3.0,mcq,Multiple choice – block layout,NaN,NaN,False
2,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,b16697ea-eb7e-4b3d-b540-c35bf1bbd5a3,4.0,mcq,Multiple choice – block layout,NaN,NaN,False
3,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,dc46c6fb-c7a4-4590-a133-fbf6c4709aad,2.0,mcq,Multiple choice – block layout,NaN,NaN,False
4,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,ebe48663-2263-4eb0-acc4-cf71dfb1e3f8,1.0,mcq,Multiple choice – block layout,NaN,NaN,False

,institution_id,class_id,item_id,item_type,chapter,page,dcl_pre_exercise_code,dcl_sample_code,dcl_solution,dcl_sct,dcl_hint,lrn_activity_reference,lrn_question_reference,lrn_question_position,lrn_type,lrn_template_name,chapter_number,section_number,review_flag
1330,292cff87-3c74-4e94-8622-233afb0427dd,6fbf5a0a-cf5d-4567-89b5-eb5c4a16c4ab,D4_Visually_01,learnosity,Chapter 16 - More Models with Interactions,16.7 Visually Comparing the Interaction Model ...,NaN,NaN,NaN,NaN,NaN,NaN,a7da2784-fe31-4768-b746-f3172987f221,1.0,plaintext,Essay with plain text,16.0,7.0,False
1331,292cff87-3c74-4e94-8622-233afb0427dd,6fbf5a0a-cf5d-4567-89b5-eb5c4a16c4ab,D4_Visually_02,learnosity,Chapter 16 - More Models with Interactions,16.7 Visually Comparing the Interaction Model ...,NaN,NaN,NaN,NaN,NaN,NaN,3225b409-4b8f-4a54-87e8-d21ac162c963,1.0,mcq,Multiple choice – block layout,16.0,7.0,False
1332,292cff87-3c74-4e94-8622-233afb0427dd,6fbf5a0a-cf5d-4567-89b5-eb5c4a16c4ab,D4_Factorial_01,learnosity,Chapter 16 - More Models with Interactions,16.8 Thinking of Factorial Models in Terms of ...,NaN,NaN,NaN,NaN,NaN,NaN,403980a0-9b91-4a18-a31a-92394f80e385,1.0,plaintext,Essay with plain text,16.0,8.0,False
1333,292cff87-3c74-4e94-8622-233afb0427dd,6fbf5a0a-cf5d-4567-89b5-eb5c4a16c4ab,D4_Factorial_01,learnosity,Chapter 16 - More Models with Interactions,16.8 Thinking of Factorial Models in Terms of ...,NaN,NaN,NaN,NaN,NaN,NaN,41787393-202b-4dbb-aa44-d5f7ee184276,2.0,mcq,Multiple choice – block layout,16.0,8.0,False
1334,292cff87-3c74-4e94-8622-233afb0427dd,6fbf5a0a-cf5d-4567-89b5-eb5c4a16c4ab,D4_Factorial_02,learnosity,Chapter 16 - More Models with Interactions,16.8 Thinking of Factorial Models in Terms of ...,NaN,NaN,NaN,NaN,NaN,NaN,51cc2582-7828-4106-a329-4b518852d26a,1.0,plaintext,Essay with plain text,16.0,8.0,False

### Media Views Dataframe

In [9]:
media_views_df.head()
#media_views_df.tail()

,book,release,chapter,page,chapter_number,section_number,institution_id,class_id,student_id,media_id,dt_started,dt_last_event,access_count,proportion_video,proportion_time,review_flag
0,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.4 Exploring the Mean,5,4,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,381974697,NaN,NaN,NaN,NaN,NaN,False
1,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.9 DATA = MODEL + ERROR: Notation,5,9,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,379150092,NaN,NaN,NaN,NaN,NaN,False
2,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.9 DATA = MODEL + ERROR: Notation,5,9,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,379319558,NaN,NaN,NaN,NaN,NaN,False
3,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.4 Exploring the Mean,5,4,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,17c657d1-b46f-4210-8bce-0dddc75aa486,381974697,2023-01-31T19:31:51Z,2023-01-31T19:40:54Z,1.0,0.999921,0.999921,False
4,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.9 DATA = MODEL + ERROR: Notation,5,9,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,17c657d1-b46f-4210-8bce-0dddc75aa486,379150092,NaN,NaN,NaN,NaN,NaN,False

### Page Views Dataframe

In [10]:
page_views_df.head()
#page_views_df.tail()

,book,release,chapter,page,chapter_number,section_number,institution_id,class_id,student_id,dt_accessed,was_complete,tried_again_dt,tried_again_clicks,engaged,idle_brief,idle_long,off_page_brief,off_page_long,review_flag
0,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T03:45:38Z,False,NaN,0,58341.0,0.0,0.0,0.0,0.0,False
1,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-12T03:13:17Z,False,NaN,0,128493.0,0.0,0.0,25928.0,0.0,False
2,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T03:06:15Z,False,NaN,0,101640.0,0.0,0.0,0.0,0.0,False
3,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T04:08:24Z,False,NaN,0,97608.0,0.0,0.0,0.0,0.0,False
4,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.4 Introduction to R Functions,1.0,4.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T03:07:58Z,False,NaN,0,177173.0,0.0,0.0,0.0,0.0,False

### Creating dataframe with student id as the index

In [22]:


student_unique_ids = list(checkpoints_eoc_df["student_id"].unique())
print(len(student_unique_ids))
student_df = pd.DataFrame(index=student_unique_ids)
student_df.head()

1565

Empty DataFrame
Columns: []
Index: [001824fb-a2fd-431d-aef6-7a1250d97a62, 0096491a-77bf-4e79-b906-fc7a8e5e57a6, 00a53a52-aa0e-4ddc-afa8-2c50c21dfd03, 00fe5bb2-6b64-4a36-a706-eac4dc124ea7, 016e2fcf-0cc2-42ad-844d-e1057b5081cc]

### Get me the pages that are review pages

In [66]:
# Group page_views_df by 'student_id' and count occurrences
student_counts = page_views_df.groupby('student_id').size().reset_index(name='repeats')

# Filter page_views_df based on conditions and select specific columns
bruh = page_views_df[(page_views_df['review_flag'] == True) & (page_views_df['was_complete'] == True)][['student_id', 'page', 'chapter_number', 'section_number', 'was_complete', 'review_flag']]

# Join bruh with student_counts to add the 'repeats' column
bruh = bruh.merge(student_counts, on='student_id', how='left')

# Check the first few rows of the merged dataframe
bruh.head()
bruh.tail()

,student_id,page,chapter_number,section_number,was_complete,review_flag,repeats
0,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,1.7 Chapter 1 Review Questions,1.0,7.0,True,True,143
1,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2.10 Chapter 2 Review Questions,2.0,10.0,True,True,143
2,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2.10 Chapter 2 Review Questions,2.0,10.0,True,True,143
3,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,3.10 Chapter 3 Review Questions,3.0,10.0,True,True,143
4,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,3.10 Chapter 3 Review Questions,3.0,10.0,True,True,143

,student_id,page,chapter_number,section_number,was_complete,review_flag,repeats
15720,eb698b03-c893-4700-90d1-e75faebf34a3,3.10 Chapter 3 Review Questions,3.0,10.0,True,True,717
15721,eb698b03-c893-4700-90d1-e75faebf34a3,3.10 Chapter 3 Review Questions,3.0,10.0,True,True,717
15722,eb698b03-c893-4700-90d1-e75faebf34a3,3.10 Chapter 3 Review Questions,3.0,10.0,True,True,717
15723,eb698b03-c893-4700-90d1-e75faebf34a3,3.11 Chapter 3 Review Questions 2,3.0,11.0,True,True,717
15724,eb698b03-c893-4700-90d1-e75faebf34a3,4.15 Chapter 4 Review Questions,4.0,15.0,True,True,717

In [71]:
# Filter page_views_df where tried_again_clicks is not equal to 0
bruh = page_views_df[page_views_df['tried_again_clicks'] != 0]

# Select unique combinations of 'page' and 'chapter_number'
bruh = bruh.drop_duplicates(subset=['page', 'chapter_number'])

# Reset index of the DataFrame
bruh.reset_index(drop=True, inplace=True)

# Display the DataFrame
bruh.head()
bruh.tail()

,book,release,chapter,page,chapter_number,section_number,institution_id,class_id,student_id,dt_accessed,was_complete,tried_again_dt,tried_again_clicks,engaged,idle_brief,idle_long,off_page_brief,off_page_long,review_flag
0,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.7 Chapter 1 Review Questions,1.0,7.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T03:51:59Z,False,2023-01-14T04:01:33Z,2,416393.0,0.0,0.0,131301.0,0.0,True
1,College / Statistics and Data Science (ABC),v5.0,Chapter 2 - Understanding Data,2.10 Chapter 2 Review Questions,2.0,10.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-21T05:47:48Z,True,2023-01-21T05:48:12Z,1,6558.0,0.0,0.0,1548.0,0.0,True
2,College / Statistics and Data Science (ABC),v5.0,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-12T02:46:53Z,True,2023-01-12T02:47:14Z,11,226591.0,0.0,0.0,0.0,0.0,False
3,College / Statistics and Data Science (ABC),v5.0,Chapter 2 - Understanding Data,2.1 Starting with a Bunch of Numbers,2.0,1.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,37b90d75-7b3d-41ac-8a7d-0cac72981a05,2023-01-23T07:40:12Z,False,2023-02-10T23:28:18Z,1,153462.0,0.0,0.0,22255.0,0.0,False
4,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.8 The World of Mathematical Notation,5.0,8.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,4dcb8d10-39f5-4ef7-af81-70fea2b1f4aa,2023-02-05T07:53:25Z,False,2023-02-05T07:54:35Z,2,61505.0,0.0,0.0,0.0,0.0,False

,book,release,chapter,page,chapter_number,section_number,institution_id,class_id,student_id,dt_accessed,was_complete,tried_again_dt,tried_again_clicks,engaged,idle_brief,idle_long,off_page_brief,off_page_long,review_flag
160,College / Statistics and Data Science (ABC),v5.2,Chapter 13 - What You Have Learned,13.1 What You Have Learned About Exploring Var...,13.0,1.0,292cff87-3c74-4e94-8622-233afb0427dd,cc1ffb2e-5555-4109-8ad8-2d49cb54ad10,f1df3150-ad4c-480e-b3ef-e3494116401d,2023-07-29T16:02:48Z,True,2023-07-29T10:33:57Z,2,867474.0,199774.0,0.0,0.0,0.0,False
161,College / Statistics and Data Science (ABC),v5.2,Chapter 13 - What You Have Learned,13.2 What You Have Learned About Modeling Vari...,13.0,2.0,292cff87-3c74-4e94-8622-233afb0427dd,cc1ffb2e-5555-4109-8ad8-2d49cb54ad10,f1df3150-ad4c-480e-b3ef-e3494116401d,2023-07-29T16:30:08Z,True,2023-07-29T16:20:46Z,2,1785241.0,0.0,0.0,3204.0,0.0,False
162,College / Statistics and Data Science (ABC),v5.2,Chapter 13 - What You Have Learned,13.3 What You Have Learned About Evaluating Mo...,13.0,3.0,292cff87-3c74-4e94-8622-233afb0427dd,cc1ffb2e-5555-4109-8ad8-2d49cb54ad10,f1df3150-ad4c-480e-b3ef-e3494116401d,2023-07-30T13:09:09Z,True,2023-07-30T13:10:09Z,1,3304064.0,476077.0,0.0,602963.0,0.0,False
163,College / Statistics and Data Science (ABC),v5.2,Chapter 8 - Digging Deeper into Group Models,8.7 Using Shuffle to Compare Models of the DGP,8.0,7.0,292cff87-3c74-4e94-8622-233afb0427dd,cc1ffb2e-5555-4109-8ad8-2d49cb54ad10,f1df3150-ad4c-480e-b3ef-e3494116401d,2023-07-11T19:44:27Z,False,2023-07-16T16:42:12Z,2,145580.0,0.0,0.0,0.0,0.0,False
164,College / Statistics and Data Science (ABC),v5.1.1,Chapter 1 - Welcome to Statistics: A Modeling ...,1.6 Goals of This Course,1.0,6.0,94a809a9-a0ef-4c47-8d96-3a5ad76f674b,5bd961c4-659c-40a7-a685-6735189f2b65,54c037ee-abce-45bc-9647-992dd322e294,2023-05-31T01:52:30Z,False,2023-05-31T17:08:20Z,2,303325.0,547834.0,0.0,10802.0,0.0,False

### last one

In [74]:
# Filter page_views_df where tried_again_clicks is not equal to 0 and select specific columns
bruh = page_views_df[page_views_df['tried_again_clicks'] != 0][['page', 'chapter_number', 'tried_again_clicks', 'student_id']]

# Select unique combinations of 'page' and 'chapter_number'
bruh = bruh.drop_duplicates(subset=['page', 'chapter_number'])

# Reset index of the DataFrame
bruh.reset_index(drop=True, inplace=True)

# Display the DataFrame
bruh.head()

,page,chapter_number,tried_again_clicks,student_id
0,1.7 Chapter 1 Review Questions,1.0,2,040852c0-3b9c-4fc6-8229-d7ba8264e9ce
1,2.10 Chapter 2 Review Questions,2.0,1,040852c0-3b9c-4fc6-8229-d7ba8264e9ce
2,First Things First! (Don't Skip This Page),NaN,11,040852c0-3b9c-4fc6-8229-d7ba8264e9ce
3,2.1 Starting with a Bunch of Numbers,2.0,1,37b90d75-7b3d-41ac-8a7d-0cac72981a05
4,5.8 The World of Mathematical Notation,5.0,2,4dcb8d10-39f5-4ef7-af81-70fea2b1f4aa

In [75]:
# Filter page_views_df where tried_again_clicks is not equal to 0 and select specific columns
bruh = page_views_df[page_views_df['tried_again_clicks'] != 0][['student_id', 'page', 'chapter_number', 'tried_again_clicks']]

# Select unique combinations of 'page' and 'chapter_number'
bruh = bruh.drop_duplicates(subset=['page', 'chapter_number'])

# Reset index of the DataFrame
bruh.reset_index(drop=True, inplace=True)

# Display the DataFrame
bruh.head()

,student_id,page,chapter_number,tried_again_clicks
0,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,1.7 Chapter 1 Review Questions,1.0,2
1,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2.10 Chapter 2 Review Questions,2.0,1
2,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,First Things First! (Don't Skip This Page),NaN,11
3,37b90d75-7b3d-41ac-8a7d-0cac72981a05,2.1 Starting with a Bunch of Numbers,2.0,1
4,4dcb8d10-39f5-4ef7-af81-70fea2b1f4aa,5.8 The World of Mathematical Notation,5.0,2

In [77]:
# Filter page_views_df where tried_again_clicks is not equal to 0 and select specific columns
bruh = page_views_df[page_views_df['tried_again_clicks'] != 0][['student_id', 'page', 'chapter_number', 'tried_again_clicks']]

# Select unique combinations of 'page' and 'chapter_number'
bruh = bruh.drop_duplicates(subset=['page', 'chapter_number'])

# Reset index of the DataFrame
bruh.reset_index(drop=True, inplace=True)

# Write the DataFrame to a CSV file
bruh.to_csv('reflective_observation.csv', index=False)

# Display the DataFrame
bruh.head()
bruh.tail()

,student_id,page,chapter_number,tried_again_clicks
0,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,1.7 Chapter 1 Review Questions,1.0,2
1,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2.10 Chapter 2 Review Questions,2.0,1
2,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,First Things First! (Don't Skip This Page),NaN,11
3,37b90d75-7b3d-41ac-8a7d-0cac72981a05,2.1 Starting with a Bunch of Numbers,2.0,1
4,4dcb8d10-39f5-4ef7-af81-70fea2b1f4aa,5.8 The World of Mathematical Notation,5.0,2

,student_id,page,chapter_number,tried_again_clicks
160,f1df3150-ad4c-480e-b3ef-e3494116401d,13.1 What You Have Learned About Exploring Var...,13.0,2
161,f1df3150-ad4c-480e-b3ef-e3494116401d,13.2 What You Have Learned About Modeling Vari...,13.0,2
162,f1df3150-ad4c-480e-b3ef-e3494116401d,13.3 What You Have Learned About Evaluating Mo...,13.0,1
163,f1df3150-ad4c-480e-b3ef-e3494116401d,8.7 Using Shuffle to Compare Models of the DGP,8.0,2
164,54c037ee-abce-45bc-9647-992dd322e294,1.6 Goals of This Course,1.0,2

In [79]:
# Select specific columns
bruh = page_views_df[['student_id', 'page', 'chapter_number', 'tried_again_clicks']]

# Select unique combinations of 'page' and 'chapter_number'
bruh = bruh.drop_duplicates(subset=['page', 'chapter_number'])

# Reset index of the DataFrame
bruh.reset_index(drop=True, inplace=True)

# Write the DataFrame to a CSV file
bruh.to_csv('reflective_observation.csv', index=False)

# Display the DataFrame
bruh.head()
bruh.tail()

,student_id,page,chapter_number,tried_again_clicks
0,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,1.3 Doing Statistics with R,1.0,0
1,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,1.4 Introduction to R Functions,1.0,0
2,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,1.5 Save Your Work in R Objects,1.0,0
3,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,1.6 Goals of This Course,1.0,0
4,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,1.7 Chapter 1 Review Questions,1.0,2

,student_id,page,chapter_number,tried_again_clicks
166,0790387e-e285-442d-b660-a004d0a5a16f,16.7 Visually Comparing the Interaction Model ...,16.0,0
167,0790387e-e285-442d-b660-a004d0a5a16f,16.8 Thinking of Factorial Models in Terms of ...,16.0,0
168,01805fac-7187-40e3-8a7e-1dda3c6c87f2,8.5 Measures of Effect Size,8.0,0
169,01805fac-7187-40e3-8a7e-1dda3c6c87f2,8.6 Modeling the DGP,8.0,0
170,01805fac-7187-40e3-8a7e-1dda3c6c87f2,8.7 Using Shuffle to Compare Models of the DGP,8.0,0

### adding the EOC and points ration to df for reflection

In [93]:
#checkpoints_eoc_df.head()
# Copy the 'points_earned' column to scores_df
scores_df = responses_df[['points_earned']].copy()

# Append the 'points_possible' column to scores_df
scores_df['points_possible'] = responses_df['points_possible']

# Append the 'student_id' column to scores_df
scores_df['student_id'] = responses_df['student_id']

# Calculate the score by dividing points_possible by points_earned
scores_df['score'] = scores_df['points_possible'] / scores_df['points_earned']

# Calculate the number of rows in the DataFrame
num_rows = len(scores_df)

# Calculate the index of the middle rows
middle_start_index = (num_rows - 20) // 2
middle_end_index = middle_start_index + 20

# Display the middle 20 values of the DataFrame
print(scores_df.iloc[middle_start_index:middle_end_index])
# # Select specific columns
# bruh = page_views_df[['student_id', 'page', 'chapter_number', 'tried_again_clicks']]

# # Select unique combinations of 'page' and 'chapter_number'
# bruh = bruh.drop_duplicates(subset=['page', 'chapter_number'])

# # Reset index of the DataFrame
# bruh.reset_index(drop=True, inplace=True)

# # Write the DataFrame to a CSV file
# bruh.to_csv('reflective_observation_with_scores.csv', index=False)

# # Display the DataFrame
# bruh.head()
# bruh.tail()

        points_earned  points_possible                            student_id  \
792627            0.0              1.0  6b1d53f2-d69a-4a64-b5e1-8329244c99e5
792628            1.0              1.0  ac2f83ce-2eb9-408c-85c8-a57f7d45171d
792629            0.0              1.0  308a0e52-a9e6-4075-a807-23efcc16337f
792630            1.0              1.0  bfeb0b98-5676-414b-a697-c788431b0bd5
792631            0.0              1.0  3343c3ec-3165-431e-b9e6-1d20371fcffb
792632            1.0              1.0  89f364a8-6a52-449b-9703-8691b79a6f03
792633            0.0              1.0  3e1a9497-e04d-4c4a-9640-3f7ba0b7e3bf
792634            0.0              1.0  39294026-ddd1-4223-b5f9-8bc3bdccac20
792635            1.0              1.0  e6240556-2492-4c2f-95aa-0571f6268717
792636            1.0              1.0  c5be8116-fdf5-4102-b67d-c698cb785c83
792637            1.0              1.0  2bd80059-216d-4dc4-a1e3-73d786a2453e
792638            1.0              1.0  30d4954d-a288-4bb3-8686-848fcf779e72
792639            1.0              1.0  21845586-ddf6-41ce-ae8a-e7f8083e0493
792640            0.0              1.0  85e52571-31b7-41a0-9041-101582311b60
792641            0.0              1.0  5cdc61be-6114-4372-a148-322e72dba5c4
792642            0.0              1.0  78ccab12-8733-4772-a2e0-17c7e68a69d6
792643            0.0              1.0  0556b794-cd80-4af6-8cfa-8055462c215a
792644            1.0              1.0  fa75cde4-fd89-4d3b-b5f8-f2f0bc9f03a6
792645            1.0              1.0  4877fc0b-61be-404d-b1cf-bfa0e547feca
792646            1.0              1.0  f5fd620e-b443-47b5-bc2a-0be50a981b2c

        score
792627    inf
792628    1.0
792629    inf
792630    1.0
792631    inf
792632    1.0
792633    inf
792634    inf
792635    1.0
792636    1.0
792637    1.0
792638    1.0
792639    1.0
792640    inf
792641    inf
792642    inf
792643    inf
792644    1.0
792645    1.0
792646    1.0

### Main function

In [ ]:
def main():
    pass

In [ ]:
if __name__ == "__main__":
    main()

In [4]:
df = pd.DataFrame()

responses_df['lrn_dt_started'] = pd.to_datetime(responses_df['lrn_dt_started'], errors='coerce')
responses_df['lrn_dt_saved'] = pd.to_datetime(responses_df['lrn_dt_saved'], errors='coerce')

responses_df['time_difference'] = responses_df['lrn_dt_saved'] - responses_df['lrn_dt_started']

# print(responses_df['time_difference'])

df['student_id'] = media_views_df['student_id']
df['propportion_time'] = media_views_df["proportion_time"]
df['proportion_video'] = media_views_df["proportion_video"]

df2 = df.merge(responses_df[['student_id', 'time_difference', 'attempt']], on='student_id', how='left')

df3 = df2.merge(checkpoints_df[['student_id', 'n_attempt', 'EOC']], on='student_id', how='left')

df4 = df3.merge(page_views_df[['student_id', 'engaged']], on='student_id', how='left')

df5 = df4.merge(page_views_df[['student_id', 'engaged']], on='student_id', how='left')

print(df5)

#df5.to_csv("VivienneProblem.csv")