In [6]:
import pandas as pd
import numpy as np
import matplotlib 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import ipynb

### Reading Data from csv files (takes long time)

In [7]:
#checkpoints_eoc_df = pd.read_csv("../datafest_csv_data/checkpoints_eoc.csv")
#checkpoints_pulse_df = pd.read_csv("../datafest_csv_data/checkpoints_pulse.csv")
#items_df = pd.read_csv("../datafest_csv_data/items.csv")
#media_views_df = pd.read_csv("../datafest_csv_data/media_views.csv")
page_views_df = pd.read_csv("../datafest_csv_data/page_views.csv")
#page_views_df = pd.read_csv("../datafest_csv_data/Random Sample of Data Files_03_04/page_views.csv")

#codebook_df = pd.read_csv("../datafest_csv_data/codebook.csv")
#variable_list_df = pd.read_csv("../datafest_csv_data/variable_list.csv")
responses_df = pd.read_csv("../datafest_csv_data/responses.csv")
#responses_df = pd.read_csv("../datafest_csv_data/Random Sample of Data Files_03_04/responses.csv")

/var/folders/2d/xtwcy83n1fb611xrr3tdyldw0000gn/T/ipykernel_1832/2727890139.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  page_views_df = pd.read_csv("../datafest_csv_data/page_views.csv")
/var/folders/2d/xtwcy83n1fb611xrr3tdyldw0000gn/T/ipykernel_1832/2727890139.py:10: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  responses_df = pd.read_csv("../datafest_csv_data/responses.csv")

### Codebook Dataframe

In [ ]:
codebook_df.head()
codebook_df.tail(10)

                variable                                    description source
0                chapter           the chapter that the item appears in  items
1               class_id  a unique identifier for this particular class  items
2               dcl_hint          the text that appears in the hint box  items
3  dcl_pre_exercise_code    the code run invisibly to set up the module  items
4        dcl_sample_code     the code in the module when it first loads  items

,variable,description,source
69,class_id,a unique identifier for this particular class,checkpoints_EOC
70,student_id,unique id identifying a student,checkpoints_EOC
71,student_id,a unique id identifying a student,checkpoints_pulse
72,response,the value of the response: either the value (f...,checkpoints_pulse
73,construct,The psychological construct measured by the pu...,checkpoints_pulse
74,chapter_number,the chapter (as a number).,checkpoints_EOC
75,EOC,proportion of correct answers for end of chapt...,checkpoints_EOC
76,n_possible,The number of end-of-chapter questions for the...,checkpoints_EOC
77,n_correct,The number of end-of-chapter questions that we...,checkpoints_EOC
78,n_attempt,The number of attempts to answer the end of ch...,checkpoints_EOC

### Variable List Dataframe

In [ ]:
variable_list_df.head()
variable_list_df.tail()

,variables,source_responses,source_items,source_pageviews,source_media,source_checkpoints_pulse,source_checkpoints_eoc,description,notes
0,EOC,NaN,NaN,NaN,NaN,NaN,checkpoints_eoc,proportion of correct answers for end of chapt...,NaN
1,access_count,NaN,NaN,NaN,media_views,NaN,NaN,"students can ""access"" the video multiple times...",NaN
2,attempt,responses,NaN,NaN,NaN,NaN,NaN,the number of times the question has been atte...,NaN
3,book,responses,NaN,page_views,media_views,checkpoints_pulse,checkpoints_eoc,the book name,NaN
4,chapter,responses,items,page_views,media_views,NaN,NaN,the chapter that the item appears in,NaN

,variables,source_responses,source_items,source_pageviews,source_media,source_checkpoints_pulse,source_checkpoints_eoc,description,notes
63,student_id,responses,NaN,page_views,media_views,checkpoints_pulse,checkpoints_eoc,unique id identifying a student,NaN
64,tried_again_clicks,NaN,NaN,page_views,NaN,NaN,NaN,"Number of ""try again"" clicks (once students co...",NaN
65,tried_again_dt,NaN,NaN,page_views,NaN,NaN,NaN,A datetime object indicating the latest time w...,NaN
66,user_agent,responses,NaN,NaN,NaN,NaN,NaN,the browser user agent string for the user (se...,NaN
67,was_complete,NaN,NaN,page_views,NaN,NaN,NaN,"When the student accessed the page, were they ...",NaN

### Checkpoints EOC Dataframe

In [ ]:
checkpoints_eoc_df.head()
#checkpoints_eoc_df.tail()

,student_id,class_id,chapter_number,book,EOC,n_possible,n_correct,n_attempt
0,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,1,College / Statistics and Data Science (ABC),0.921053,38,35,40
1,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,2,College / Statistics and Data Science (ABC),0.839080,87,73,127
2,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,3,College / Statistics and Data Science (ABC),0.769231,104,80,145
3,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,4,College / Statistics and Data Science (ABC),0.743590,118,87,217
4,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,5,College / Statistics and Data Science (ABC),0.777778,63,49,90

### Checkpoints Pulse Dataframe

In [ ]:
checkpoints_pulse_df.head()
checkpoints_pulse_df.tail()

,book,release,institution_id,class_id,student_id,chapter_number,construct,response
0,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,10,Cost,NaN
1,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,11,Cost,NaN
2,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,12,Cost,NaN
3,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2,Cost,4.0
4,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,3,Cost,4.0

,book,release,institution_id,class_id,student_id,chapter_number,construct,response
76843,High School / Advanced Statistics and Data Sci...,v5.0,fc5f1b1b-2aeb-4e09-93fc-06fdac0d8030,95370fbf-5008-435f-b801-8214285f251b,eb698b03-c893-4700-90d1-e75faebf34a3,9,Utility Value,5.0
76844,High School / Advanced Statistics and Data Sci...,v5.0,fc5f1b1b-2aeb-4e09-93fc-06fdac0d8030,95370fbf-5008-435f-b801-8214285f251b,eb698b03-c893-4700-90d1-e75faebf34a3,13,Cost,NaN
76845,High School / Advanced Statistics and Data Sci...,v5.0,fc5f1b1b-2aeb-4e09-93fc-06fdac0d8030,95370fbf-5008-435f-b801-8214285f251b,eb698b03-c893-4700-90d1-e75faebf34a3,13,Utility Value,NaN
76846,High School / Advanced Statistics and Data Sci...,v5.0,fc5f1b1b-2aeb-4e09-93fc-06fdac0d8030,95370fbf-5008-435f-b801-8214285f251b,eb698b03-c893-4700-90d1-e75faebf34a3,13,Expectancy,NaN
76847,High School / Advanced Statistics and Data Sci...,v5.0,fc5f1b1b-2aeb-4e09-93fc-06fdac0d8030,95370fbf-5008-435f-b801-8214285f251b,eb698b03-c893-4700-90d1-e75faebf34a3,13,Intrinsic Value,NaN

### Items Dataframe

In [ ]:
items_df.head()
#items_df.tail()

,institution_id,class_id,item_id,item_type,chapter,page,dcl_pre_exercise_code,dcl_sample_code,dcl_solution,dcl_sct,dcl_hint,lrn_activity_reference,lrn_question_reference,lrn_question_position,lrn_type,lrn_template_name,chapter_number,section_number,review_flag
0,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,1800c247-fec5-45a0-aa40-3eb7ed5eeed7,5.0,mcq,Multiple choice – block layout,NaN,NaN,False
1,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,917f3647-c6dd-473c-9e16-2e0fc4d48344,3.0,mcq,Multiple choice – block layout,NaN,NaN,False
2,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,b16697ea-eb7e-4b3d-b540-c35bf1bbd5a3,4.0,mcq,Multiple choice – block layout,NaN,NaN,False
3,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,dc46c6fb-c7a4-4590-a133-fbf6c4709aad,2.0,mcq,Multiple choice – block layout,NaN,NaN,False
4,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,ebe48663-2263-4eb0-acc4-cf71dfb1e3f8,1.0,mcq,Multiple choice – block layout,NaN,NaN,False

### Media Views Dataframe

In [ ]:
media_views_df.head()
#media_views_df.tail()

Media Views Dataframe

,book,release,chapter,page,chapter_number,section_number,institution_id,class_id,student_id,media_id,dt_started,dt_last_event,access_count,proportion_video,proportion_time,review_flag
0,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.4 Exploring the Mean,5,4,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,381974697,NaN,NaN,NaN,NaN,NaN,False
1,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.9 DATA = MODEL + ERROR: Notation,5,9,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,379150092,NaN,NaN,NaN,NaN,NaN,False
2,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.9 DATA = MODEL + ERROR: Notation,5,9,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,379319558,NaN,NaN,NaN,NaN,NaN,False
3,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.4 Exploring the Mean,5,4,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,17c657d1-b46f-4210-8bce-0dddc75aa486,381974697,2023-01-31T19:31:51Z,2023-01-31T19:40:54Z,1.0,0.999921,0.999921,False
4,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.9 DATA = MODEL + ERROR: Notation,5,9,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,17c657d1-b46f-4210-8bce-0dddc75aa486,379150092,NaN,NaN,NaN,NaN,NaN,False

### Page Views Dataframe

In [ ]:
page_views_df.head()
#page_views_df.tail()

Page Views Dataframe

,book,release,chapter,page,chapter_number,section_number,institution_id,class_id,student_id,dt_accessed,was_complete,tried_again_dt,tried_again_clicks,engaged,idle_brief,idle_long,off_page_brief,off_page_long,review_flag
0,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T03:45:38Z,False,NaN,0,58341.0,0.0,0.0,0.0,0.0,False
1,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-12T03:13:17Z,False,NaN,0,128493.0,0.0,0.0,25928.0,0.0,False
2,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T03:06:15Z,False,NaN,0,101640.0,0.0,0.0,0.0,0.0,False
3,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T04:08:24Z,False,NaN,0,97608.0,0.0,0.0,0.0,0.0,False
4,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.4 Introduction to R Functions,1.0,4.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T03:07:58Z,False,NaN,0,177173.0,0.0,0.0,0.0,0.0,False

### solution

In [15]:
from datetime import datetime

# responses_df['lrn_dt_started'] = responses_df['lrn_dt_started'].fillna('').astype(str) # only because float caused errors
# datetime_submitted = [datetime.strptime(date_str, '%Y-%m-%dT%H:%M:%SZ') for date_str in responses_df['lrn_dt_started'] if date_str != '' else None]

# responses_df['lrn_dt_saved'] = responses_df['lrn_dt_saved'].replace(np.nan, '') #other errors that had to be avoided
# datetime_started = [datetime.strptime(date_str, '%Y-%m-%dT%H:%M:%SZ') for date_str in responses_df['lrn_dt_saved'] if date_str not in ('', 'nan') else None]


responses_df['lrn_dt_started'] = pd.to_datetime(responses_df['lrn_dt_started'], errors='coerce')
responses_df['lrn_dt_saved'] = pd.to_datetime(responses_df['lrn_dt_saved'], errors='coerce')
page_views_df['dt_accessed'] = pd.to_datetime(page_views_df['dt_accessed'])

# responses_df["lrn_dt_saved"].tail()
# responses_df["lrn_dt_started"].tail()
# page_views_df.head()

1585269   2023-01-26 03:31:06+00:00
1585270   2023-01-26 03:31:06+00:00
1585271   2023-01-26 03:31:06+00:00
1585272   2023-01-26 03:31:06+00:00
1585273   2023-01-26 03:31:06+00:00
Name: lrn_dt_saved, dtype: datetime64[ns, UTC]

1585269   2023-01-26 03:24:32+00:00
1585270   2023-01-26 03:24:32+00:00
1585271   2023-01-26 03:24:32+00:00
1585272   2023-01-26 03:24:32+00:00
1585273   2023-01-26 03:24:32+00:00
Name: lrn_dt_started, dtype: datetime64[ns, UTC]

,book,release,chapter,page,chapter_number,section_number,institution_id,class_id,student_id,dt_accessed,was_complete,tried_again_dt,tried_again_clicks,engaged,idle_brief,idle_long,off_page_brief,off_page_long,review_flag
0,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14 03:45:38+00:00,False,NaN,0,58341.0,0.0,0.0,0.0,0.0,False
1,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-12 03:13:17+00:00,False,NaN,0,128493.0,0.0,0.0,25928.0,0.0,False
2,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14 03:06:15+00:00,False,NaN,0,101640.0,0.0,0.0,0.0,0.0,False
3,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14 04:08:24+00:00,False,NaN,0,97608.0,0.0,0.0,0.0,0.0,False
4,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.4 Introduction to R Functions,1.0,4.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14 03:07:58+00:00,False,NaN,0,177173.0,0.0,0.0,0.0,0.0,False

In [17]:
#responses_df['lrn_dt_saved'].head(1000)

#time_differences = [(start_time - submit_time) for start_time, submit_time in zip(datetime_started, datetime_submitted)]
responses_df['time_difference'] = responses_df['lrn_dt_saved'] - responses_df['lrn_dt_started']

df = pd.DataFrame()

df['student_id'] = responses_df['student_id']

df['dt_submitted'] = responses_df['dt_submitted']
df['time_difference'] = responses_df['time_difference']


#print(type(time_differences))

#print(responses_df['lrn_dt_saved'])
#print(responses_df['lrn_dt_started'])

#datetime_object = datetime.strptime(responses_df['dt_submitted'], '%Y-%m-%dT%H:%M:%SZ' for date_str in date_strings)
#responses_df.tail(10)

In [18]:
#f['dt_accessed'] = page_views_df.groupby('student_id')['dt_accessed'].transform('mean')
#df = df.join(page_views_df.set_index('student_id')['dt_accessed'], on='student_id')

df = df.join(page_views_df.set_index('student_id')['dt_accessed'], on='student_id', how='left')

#df = df.merge(page_views_df[['student_id', 'dt_accessed']], on='student_id', how='left')

#df.insert(loc=0, column="time_differences", value=responses_df['time_differences'])
#df.set_index('student_id', inplace=True)
print(df)

                                  student_id          dt_submitted  \
0       0780b2c5-b260-4a31-816e-e91ce8b403a0  2023-04-04T06:19:03Z
0       0780b2c5-b260-4a31-816e-e91ce8b403a0  2023-04-04T06:19:03Z
0       0780b2c5-b260-4a31-816e-e91ce8b403a0  2023-04-04T06:19:03Z
0       0780b2c5-b260-4a31-816e-e91ce8b403a0  2023-04-04T06:19:03Z
0       0780b2c5-b260-4a31-816e-e91ce8b403a0  2023-04-04T06:19:03Z
...                                      ...                   ...
246277  358dde6e-b5ae-4fa4-898e-05cfff311129  2023-01-31T22:43:00Z
246277  358dde6e-b5ae-4fa4-898e-05cfff311129  2023-01-31T22:43:00Z
246277  358dde6e-b5ae-4fa4-898e-05cfff311129  2023-01-31T22:43:00Z
246277  358dde6e-b5ae-4fa4-898e-05cfff311129  2023-01-31T22:43:00Z
246277  358dde6e-b5ae-4fa4-898e-05cfff311129  2023-01-31T22:43:00Z

       time_difference               dt_accessed
0                  NaT 2023-04-04 06:07:01+00:00
0                  NaT 2023-04-04 06:07:26+00:00
0                  NaT 2023-04-04 05:36:53+00:00
0                  NaT 2023-05-22 08:41:09+00:00
0                  NaT 2023-04-04 06:18:20+00:00
...                ...                       ...
246277 0 days 00:03:46 2023-01-31 22:44:29+00:00
246277 0 days 00:03:46 2023-01-31 22:48:09+00:00
246277 0 days 00:03:46 2023-01-31 22:38:28+00:00
246277 0 days 00:03:46 2023-01-31 22:48:17+00:00
246277 0 days 00:03:46 2023-01-31 22:48:03+00:00

[88916810 rows x 4 columns]

In [19]:
csv_file_path = '../datafest_csv_data/problem_1.csv'
try:
    df.to_csv(csv_file_path, index=False)
    print("CSV file saved successfully.")
except Exception as e:
    print("Error occurred while saving CSV file:", e)

### Creating dataframe with student id as the index

In [ ]:
student_unique_ids = set(checkpoints_eoc_df["student_id"].unique())
print(len(student_unique_ids))

NameError: name 'checkpoints_eoc_df' is not defined

### Main function

In [ ]:
def main():
    pass

In [ ]:
if __name__ == "__main__":
    main()