In [1]:
import pandas as pd
import numpy as np
import matplotlib 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import ipynb

In [2]:
checkpoints_eoc_df = pd.read_csv("../datafest_csv_data/checkpoints_eoc.csv")
checkpoints_pulse_df = pd.read_csv("../datafest_csv_data/checkpoints_pulse.csv")
items_df = pd.read_csv("../datafest_csv_data/items.csv")
media_views_df = pd.read_csv("../datafest_csv_data/media_views.csv")
page_views_df = pd.read_csv("../datafest_csv_data/page_views.csv")

responses_df = pd.read_csv("../datafest_csv_data/responses.csv")

/tmp/ipykernel_14541/1881946460.py:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  page_views_df = pd.read_csv("../datafest_csv_data/page_views.csv")
/tmp/ipykernel_14541/1881946460.py:7: DtypeWarning: Columns (32,33,34,35,36,37,38,39) have mixed types. Specify dtype option on import or set low_memory=False.
  responses_df = pd.read_csv("../datafest_csv_data/responses.csv")

In [13]:
print("Checkpoints EOC Dataframe")
checkpoints_eoc_df.head()
#checkpoints_eoc_df.tail()

Checkpoints EOC Dataframe

,student_id,class_id,chapter_number,book,EOC,n_possible,n_correct,n_attempt
0,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,1,College / Statistics and Data Science (ABC),0.921053,38,35,40
1,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,2,College / Statistics and Data Science (ABC),0.839080,87,73,127
2,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,3,College / Statistics and Data Science (ABC),0.769231,104,80,145
3,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,4,College / Statistics and Data Science (ABC),0.743590,118,87,217
4,001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,5,College / Statistics and Data Science (ABC),0.777778,63,49,90

In [12]:
print("Checkpoints Pulse Dataframe")
checkpoints_pulse_df.head()
#checkpoints_pulse_df.tail()

Checkpoints Pulse Dataframe

,book,release,institution_id,class_id,student_id,chapter_number,construct,response
0,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,10,Cost,NaN
1,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,11,Cost,NaN
2,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,12,Cost,NaN
3,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2,Cost,4.0
4,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,3,Cost,4.0

In [11]:
print("Items Dataframe")
items_df.head()
#items_df.tail()

Items Dataframe

,institution_id,class_id,item_id,item_type,chapter,page,dcl_pre_exercise_code,dcl_sample_code,dcl_solution,dcl_sct,dcl_hint,lrn_activity_reference,lrn_question_reference,lrn_question_position,lrn_type,lrn_template_name,chapter_number,section_number,review_flag
0,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,1800c247-fec5-45a0-aa40-3eb7ed5eeed7,5.0,mcq,Multiple choice – block layout,NaN,NaN,False
1,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,917f3647-c6dd-473c-9e16-2e0fc4d48344,3.0,mcq,Multiple choice – block layout,NaN,NaN,False
2,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,b16697ea-eb7e-4b3d-b540-c35bf1bbd5a3,4.0,mcq,Multiple choice – block layout,NaN,NaN,False
3,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,dc46c6fb-c7a4-4590-a133-fbf6c4709aad,2.0,mcq,Multiple choice – block layout,NaN,NaN,False
4,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,First_Things_First_Quiz,learnosity,Getting Started (Don't Skip This Part),First Things First! (Don't Skip This Page),NaN,NaN,NaN,NaN,NaN,NaN,ebe48663-2263-4eb0-acc4-cf71dfb1e3f8,1.0,mcq,Multiple choice – block layout,NaN,NaN,False

In [10]:
print("Media Views Dataframe")
media_views_df.head()
#media_views_df.tail()

Media Views Dataframe

,book,release,chapter,page,chapter_number,section_number,institution_id,class_id,student_id,media_id,dt_started,dt_last_event,access_count,proportion_video,proportion_time,review_flag
0,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.4 Exploring the Mean,5,4,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,381974697,NaN,NaN,NaN,NaN,NaN,False
1,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.9 DATA = MODEL + ERROR: Notation,5,9,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,379150092,NaN,NaN,NaN,NaN,NaN,False
2,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.9 DATA = MODEL + ERROR: Notation,5,9,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,379319558,NaN,NaN,NaN,NaN,NaN,False
3,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.4 Exploring the Mean,5,4,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,17c657d1-b46f-4210-8bce-0dddc75aa486,381974697,2023-01-31T19:31:51Z,2023-01-31T19:40:54Z,1.0,0.999921,0.999921,False
4,College / Statistics and Data Science (ABC),v5.0,Chapter 5 - A Simple Model,5.9 DATA = MODEL + ERROR: Notation,5,9,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,17c657d1-b46f-4210-8bce-0dddc75aa486,379150092,NaN,NaN,NaN,NaN,NaN,False

In [9]:
print("Page Views Dataframe")
page_views_df.head()
#page_views_df.tail()

Page Views Dataframe

,book,release,chapter,page,chapter_number,section_number,institution_id,class_id,student_id,dt_accessed,was_complete,tried_again_dt,tried_again_clicks,engaged,idle_brief,idle_long,off_page_brief,off_page_long,review_flag
0,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T03:45:38Z,False,NaN,0,58341.0,0.0,0.0,0.0,0.0,False
1,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-12T03:13:17Z,False,NaN,0,128493.0,0.0,0.0,25928.0,0.0,False
2,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T03:06:15Z,False,NaN,0,101640.0,0.0,0.0,0.0,0.0,False
3,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T04:08:24Z,False,NaN,0,97608.0,0.0,0.0,0.0,0.0,False
4,College / Statistics and Data Science (ABC),v5.0,Chapter 1 - Welcome to Statistics: A Modeling ...,1.4 Introduction to R Functions,1.0,4.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,040852c0-3b9c-4fc6-8229-d7ba8264e9ce,2023-01-14T03:07:58Z,False,NaN,0,177173.0,0.0,0.0,0.0,0.0,False

In [8]:
print("Page Views Dataframe")
responses_df.head()
#responses_df.tail()

Page Views Dataframe

,book,release,chapter,page,chapter_number,section_number,review_flag,institution_id,class_id,student_id,...,lrn_option_2,lrn_option_3,lrn_option_4,lrn_option_5,lrn_option_6,lrn_option_7,lrn_option_8,lrn_option_9,lrn_option_10,lrn_option_11
0,College / Advanced Statistics and Data Science...,v5.0-exp2,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,False,292cff87-3c74-4e94-8622-233afb0427dd,6fbf5a0a-cf5d-4567-89b5-eb5c4a16c4ab,7535ba88-d131-4eee-b392-36f5e11c85ce,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,College / Advanced Statistics and Data Science...,v5.0-exp2,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,False,292cff87-3c74-4e94-8622-233afb0427dd,6fbf5a0a-cf5d-4567-89b5-eb5c4a16c4ab,1d4a6d2c-0cb1-4d19-9218-b673982e9f2f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,College / Advanced Statistics and Data Science...,v5.0-exp2,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,False,292cff87-3c74-4e94-8622-233afb0427dd,6fbf5a0a-cf5d-4567-89b5-eb5c4a16c4ab,94a09f74-2d8c-4379-92ad-7fe5b02ec188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,College / Advanced Statistics and Data Science...,v5.0-exp2,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,False,292cff87-3c74-4e94-8622-233afb0427dd,6fbf5a0a-cf5d-4567-89b5-eb5c4a16c4ab,20a47775-9594-4800-9857-fd09633c561f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,College / Advanced Statistics and Data Science...,v5.0-exp2,Chapter 1 - Welcome to Statistics: A Modeling ...,1.3 Doing Statistics with R,1.0,3.0,False,292cff87-3c74-4e94-8622-233afb0427dd,6fbf5a0a-cf5d-4567-89b5-eb5c4a16c4ab,7ea35ae6-4aee-4c17-b96a-e1ecb27f2b42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def organize_students():

In [ ]:
def main():
    organize_students()

In [ ]:
if __name__ == "__main__":
    main()